html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--nav-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-bg: #fcd8d4;
  --secondary-bg: #f7e4e0;
  --nav-bg: #fdf6f0;
  --mob-nav: #f8e2cf;
  --mob-nav-dark: #ffd7b5;
  --primary-text: #11132c;
}
