<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template1</title>
  </head>
  <body>
    <h1>Uchiha Madara</h1>
    <div>madara@uchiha.com</div>
    <div>Defeated all 5 hokages alone</div>
    <img src="http://localhost:5000/images/madara.jpg" alt="Uchiha Madara" />

    <div>One of strongest uchihas</div>
    <br />
    <div>fuck linkedin_profile</div>
    <div>fuck github_profile</div>
    <div>fuck codechef_profile</div>
    <div>fuck codeforces_profile</div>
  </body>
</html>
