<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <title>template1</title>
  </head>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      color: white;
      box-sizing: border-box;
      background: rgb(255, 224, 246);
      background: linear-gradient(
        133deg,
        rgba(29, 29, 29, 1) 0%,
        rgba(147, 2, 12, 1) 51%
      );
    }
    * {
      font-family: "Lato", sans-serif;
    }
    a {
      color: rgb(209, 209, 209);
    }
    .main {
      height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .main h1 {
      color: rgb(216, 216, 216);
      font-size: 4rem;
      font-weight: bold;
    }
    .main h2 {
      color: rgba(255, 255, 255, 0.705);
      font-size: 1.5rem;
    }
    .education,
    .project,
    .info {
      padding: 5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .contact {
      padding: 5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
    .bnav {
      background: rgba(53, 53, 53, 0) !important;
    }
  </style>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark bnav">
      <div class="container-fluid">
        <a class="navbar-brand px-3">Madara</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#intro">INTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">EDUCATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#info">MY INFO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="intro" id="intro">
        <h1>Hi there,</h1>
        <h1>I am <span>Uchiha Madara</span></h1>
        <h2>Defeated all 5 hokages alone</h2>
      </div>
      <div class="profile-image">
        <img
          width="300"
          height="400"
          src="http://localhost:5000/images/template_madara.jpg"
          alt="Uchiha Madara"
        />
      </div>
    </div>

    <!-- Education -->
    <div class="education" id="education">
      <h2>Education</h2>
      <ul>
        <li>Konoha</li>
        <li>Sharingan</li>
        <li>Long time ago</li>
      </ul>
    </div>

    <!-- Projects -->
    <div class="project" id="projects">
      <h2>Projects</h2>
      <ul>
        <li>Mangekyou Sharingan</li>
        <li>Ultimate sharingan form</li>
        <li>Long time ago</li>
      </ul>
    </div>

    <!-- info -->
    <div class="info" id="info">
      <h2>More info</h2>
      <ul>
        <li>Uchiha</li>
        <li>Made Uchihas strongest and most feared clan</li>
        <li>Long time ago</li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="contact" id="contact">
      <h2>Contact Me</h2>
      <a href="mailto:madara@uchiha.com">madara@uchiha.com</a>
      <a href="example.com">sharingan linkedin_profile</a>
      <a href="example.com">sharingan github_profile</a>
      <a href="example.com">sharingan codechef_profile</a>
      <a href="example.com">sharingan codeforces_profile</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
