<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Goku</title>

  <style>
    body {
      background-color: rgb(123, 123, 131);
      color: white;
      background: url("/images/template_bg4.jpg")no-repeat center center/cover;
    }

    #about-para {
      padding: 10px;
      width: 70%;
      text-align: justify;
      color: white;
      line-height: 28px;
      font-size: 1.1rem;
      margin: auto;
    }

    #intro {
      text-align: center;

    }

    #education {
      text-align: center;

    }

    #projects {
      text-align: center;
    }

    #achievements {
      text-align: center;
    }

    #contact {
      text-align: center;
    }

  </style>
</head>

<body>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >GOKU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="#intro">INTRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">EDUCATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#achievements">ACHIEVEMENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Intro -->
  <div id="intro" class="d-flex justify-content-between">
    <div class=" container">
      <br><br>
      <h2>GOKU</h2><br>
      <img src="/images/template_kirito.jpg" alt="profile-pic" class="img-fluid img-thumbnail"
        style="border-radius: 100%; width: 20rem ;height:20rem; ">
      <br><br>
  <div id="about">
    Son Goku (孫そん悟空ごくう Son Gokū), born Kakarot (カカロット Kakarotto), is the main protagonist of the Dragon Ball series.
    Goku is a Saiyan male originally sent to destroy Earth as an infant. A head injury at an early age alters his memory,
    ridding him of his initial destructive nature and allowing him to grow up to become one of Earth's greatest defenders.
    He constantly strives and trains to be the greatest warrior possible, which has kept the Earth and the universe safe from
    destruction many times.
  </div>
      <br><br>
    </div>


  </div>



  <!-- Education -->
  <div id="education" class="container">

    <br><br>
    <h1>Education</h1>
    <div id="education-details" class="d-flex justify-content-around flex-wrap" style="text-align: center;">

      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Turtle house</h4>
          <h5 class="card-title">Martial arts</h5>
          <h5 class="card-title">1990</h5>
          <h6 class="card-title">A+</h6>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Lord Kai</h4>
          <h5 class="card-title">Kaioken</h5>
          <h5 class="card-title">2000</h5>
          <h6 class="card-title">A+</h6>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Angel Whi</h4>
          <h5 class="card-title">Ultra instince</h5>
          <h5 class="card-title">2010</h5>
          <h6 class="card-title">A+</h6>
        </div>
      </div>



    </div>
  </div>


  <!-- projects -->
  <div id="projects" class="container">

    <br><br>
    <h1>Projects</h1>

    <div id="project-details" class="d-flex justify-content-around flex-wrap" style="text-align: center;">

      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Emotion detector</h4>
          <h5 class="card-title">2021</h5>
          <div class="card-text">This is an open-source project to detect human emotions</div>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Emotion detector</h4>
          <h5 class="card-title">2021</h5>
          <div class="card-text">This is an open-source project to detect human emotions</div>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Emotion detector</h4>
          <h5 class="card-title">2021</h5>
          <div class="card-text">This is an open-source project to detect human emotions</div>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Emotion detector</h4>
          <h5 class="card-title">2021</h5>
          <div class="card-text">This is an open-source project to detect human emotions</div>
        </div>
      </div>


    </div>


  </div>


  <!-- achievements -->
  <div id="achievements" class="container">

    <br><br>
    <h1>Info</h1>
     <br>

    <div id="achievements-details" class="d-flex justify-content-around flex-wrap" style="text-align: center;">

      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Ultra instinct</h4>
          <h5 class="card-title">2010</h5>
          <h6 class="card-title text-secondary">Achievement</h6>
          <div class="card-text">
            Ultra Instinct is an ultimate technique that separates the consciousness from the body,
            allowing it to move and fight independent of a martial artist's thoughts and emotions.
            It is an extraordinarily difficult technique to master, even for the Hakaishin.
          </div>
        </div>

      </div>

      <div class="card text-white bg-dark mb-3" style="min-width: 28vw; margin: 1vh; border : 2px solid rgb(83, 83, 235) ">
        <div class="card-body">
          <h4 class="card-title">Super Saiyan</h4>
          <h5 class="card-title">1995</h5>
          <h6 class="card-title text-secondary">Achievement</h6>
          <div class="card-text">
            Super Saiyan (超スーパーサイヤ人じん Sūpā Saiya-jin) is an advanced transformation assumed by members and hybrids of
            the Saiyan race with sufficient amounts of S-Cells in the Dragon Ball franchise.
            Earthlings (of Saiyan heritage) in Dragon Ball Online can also assume the transformation by wishing to have
            their dormant Saiyan powers unlocked.
          </div>
        </div>

      </div>

    </div>

  </div>

   <!-- contact -->
   <div id="contact"class="container">

    <br><br>
    <h1>Contact_Me</h1>
    <br>
    <div id = "contact_details" class="container" style="text-align: center;">
      <h5 style ="margin : 2rem 2rem;">EMAIL ID : goku@iiitdmj.ac.in  </h5>

      <h5 style="text-align: center; ">SOCIAL MEDIA ACCOUNTS</h5>
      <div class="container" style="text-align: center;">
         <a href="#"><button type="button" class="btn btn-primary" style="margin :1rem 1rem;">GITHUB</button></a>
         <a href="#"><button type="button" class="btn btn-secondary" style="margin :1rem 1rem;">CODEFORCES</button></a>
         <a href="#"><button type="button" class="btn btn-danger" style="margin :1rem 1rem;">CODECHEF</button></a>
         <a href="#"><button type="button" class="btn btn-warning" style="margin :1rem 1rem;">LINKEDIN</button></a>
     </div>
     <br>
 </div>

    </div>

   </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
    -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>

</html>
